* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header, main {
    width: 80vw;
    margin: 0 auto;
}
header {
    background: url(../img/design1_image1.jpg) center -120px;
    background-size: cover;
    height: 190px;
   
}
header figure {
    border: 1px solid #ccc;
    background: #222;
    padding: 10px;
    margin-left: 30px;
}
header figure img {
    height: 100px;
}
header .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #222;
    padding-top: 15vh;
    margin-bottom: 30px;
}
nav {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
nav a {
    text-decoration: none;
    border: 1px solid #c4c4c4;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color:#222;
    font-weight: 600;
    transition: all 0.3s;
    background-color: #fff;
}
nav a:hover {    
    box-shadow: 1px 1px 5px 0px rgb(121 121 121)
}
.active {
    background: #222;
    color: #fff;
}
main {
    padding-top: 90px;
}
main h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 30;
    text-transform: uppercase;
    font-size: 2rem;
}
.fechas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
article {
    width: 200px;
    min-height: 200px;
    border: 1px solid #d4d4d4;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px #d4d4d4;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
article:hover {
    border-bottom: 6px solid rgba(16, 52, 252, 0.932);
}
.about > article, .rules > article, .game > article, .contact{
    width: auto;
    border: none;
    box-shadow: none;
    text-align: left;
    min-height: auto;
}
.about > article, .rules > article, .contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about > article > figure > img, .rules > article > figure > img{
    width: 200px;
}
.about article div {
    padding-left: 30px;
}
.about article:nth-child(2){
    flex-direction: row-reverse;
}
.about article h3 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 10px;
}
.rules article {
    flex-direction: column;
}
.rules > article > ol > li {
    margin-bottom: 10px;
  }
.rules > article > ol > li > h4 {
  margin-bottom: 10px;
}
.game article {
    padding: 0;
    margin: 20px 0;
}
address {
    margin: 10px 0 30px;
}
.game {
    margin-top: 30px;
}
.table-cool {
    width: 80vw;
    text-align: center;
}
.table-cool > thead {
    background: #222;
    color: #fff;
}
.table-cool > thead > tr > th {
    padding: 20px 0;
}
.table-cool > tbody > tr > td {
    padding: 5px 0;
}
.table-cool > tbody > tr:nth-child(2n) {
    background: #5a93ff2e;
}
.table-cool > tbody > tr > td > span {
    font-weight: 600;
    color: #222;
}
.contact > figure > img {
 width: 30vw;
 margin: 30px 30px 30px 0;
}
.data > .table-cool {
    text-transform: capitalize;
}
.data {
    margin: 30px 0;
}
.form form {
    width: 50vw;
    margin: 20px auto;
}

.form fieldset {
    border: none;
    margin: 20px 0;
}
.form fieldset input {
    border: none;
    border-bottom: 1px solid #d4d4d4;
}

.form fieldset.street input {
    width: 79%;
    display: inline-block;
  }
  .form fieldset.street label {
    display: inline-block;
    width: 20%;
  }
  
.form fieldset input:focus-visible, .form fieldset input:focus {
    border: none;
    border-bottom: 1px solid blue;
}
.city, .date {
    display: flex;
    justify-content: space-between;
}
.city div, .date div {
   width: 100%;
}
.city div input, .city div label {
    width: 70%;
}

.btn.btn-primary {
    display: block;
    width: 100%;
    margin: 30px 0;
    padding: 20px 0;
    text-transform: uppercase;
    background: #222;
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border: 1px solid #d4d4d4;
    transition: all 0.3s;
  }
  .btn.btn-primary:hover {
    box-shadow: 1px 1px 3px #3333338c;
    border: 1px solid #fff;
  }
  .maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.maps div {
    margin: 20px 0;
}
.maps div h4 {
    margin-bottom: 10px;
    text-align: center;
}
.maps div .iframe {
    border: 1px solid #222;
}
footer {
    height: 10vh;
    background-color: rgb(34, 34, 34);
}